Control-Center {
 org.eclipse.jetty.jaas.spi.LdapLoginModule required
 useLdaps="false"
 contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
 hostname="openldap"
 port="389"
 bindDn="cn=admin,dc=planetexpress,dc=com"
 bindPassword="GoodNewsEveryone"
 authenticationMethod="simple"
 forceBindingLogin="true"
 userBaseDn="ou=people,dc=planetexpress,dc=com"
 userRdnAttribute="sAMAccountName"
 userIdAttribute="uid"
 userPasswordAttribute="userPassword"
 userObjectClass="person"
 roleBaseDn="cn=admin_staff,ou=people,DC=planetexpress,DC=com"
 roleNameAttribute="cn"
 roleMemberAttribute="member"
 roleObjectClass="group";
};
