Schema-Registry {
 org.eclipse.jetty.jaas.spi.LdapLoginModule required
 useLdaps="false"
 contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
 hostname="openldap"
 port="389"
 bindDn="cn=admin,dc=cccdemo,dc=com"
 bindPassword="C3DemoTest"
 authenticationMethod="simple"
 forceBindingLogin="true"
 userBaseDn="ou=people,dc=cccdemo,dc=com"
 userRdnAttribute="sAMAccountName"
 userIdAttribute="uid"
 userPasswordAttribute="userPassword"
 userObjectClass="person"
 roleBaseDn="ou=people,DC=cccdemo,DC=com"
 roleNameAttribute="cn"
 roleMemberAttribute="member"
 roleObjectClass="group";
};
